html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100vw;
  padding-top: 3rem;     
  padding-bottom: 3rem;
}

.subtitle {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  text-decoration: underline;
  font-size: 1.1rem;
}

.cat-info {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}
.loo {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
}

.temp,
.origin {

  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  text-decoration: underline;
}

form {
  margin-bottom: 20px;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
}
.ghd-container {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 40rem;
}
label {
  display: block;
  margin: 10px 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  border-radius: 8px;
  box-shadow: 0 2px 6px #ccc;
  align-items: center;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.website-header {
  background: #365b74;
  border-top: 1px solid #e2e8f0;
  padding: 0.1rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #d47201;


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
}


.cat-browser-footer {
  background: #365b74;
  border-top: 1px solid #e2e8f0;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #d47201;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
   
}
