#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

img {
  border-radius: 8px;
  box-shadow: 0 2px 6px #ccc;
}